-- Create founder_feedback table
CREATE TABLE IF NOT EXISTS founder_feedback (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  workspace_id UUID NOT NULL REFERENCES workspaces(id) ON DELETE CASCADE,
  user_id UUID NOT NULL,
  category TEXT NOT NULL CHECK (category IN ('BUG', 'CONFUSION', 'AI_RESULT', 'FEATURE_REQUEST', 'OTHER')),
  message TEXT NOT NULL,
  current_path TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE founder_feedback ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view their own workspace feedback"
  ON founder_feedback FOR SELECT
  USING (
    workspace_id IN (
      SELECT workspace_id FROM workspace_users WHERE user_id = auth.uid()
    )
  );

CREATE POLICY "Users can insert feedback in their workspace"
  ON founder_feedback FOR INSERT
  WITH CHECK (
    workspace_id IN (
      SELECT workspace_id FROM workspace_users WHERE user_id = auth.uid()
    )
    AND user_id = auth.uid()
  );

